:root {
  --primary-blue: #0b1560;
  --light-blue: #3a4ac5;
}

a.nav-link:hover,
a.dropdown-item {
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html {
  width: 100%;
}

#__next {
  width: 100%;
}

body::before {
  display: block;
  content: "";
  height: 67px;
}

li {
  list-style: none;
}

::selection {
  color: rgb(255, 255, 255);
  background: var(--primary-blue);
}

#root {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-blue) !important;
  width: 100% !important;
  border-bottom: 7px solid var(--light-blue);
  position: fixed !important;
  top: 0;
  z-index: 100;
}

nav ul {
  width: 50% !important;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  list-style: none;
  color: white;
}

nav ul li {
  transition: 0.2s ease;
  padding: 5px;
}

nav ul li:hover {
  border-radius: 5px;
  background-color: var(--light-blue);
  transition: 0.2s ease;
}

.logo {
  color: white;
  text-decoration: none;
  margin-left: 50px;
}

.navbar-nav {
  width: 55%;
}

.navbar {
  box-shadow: 0px 5px 10px 0px rgb(67, 66, 66);
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.not-found {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-left {
  border-right: 3px solid black;
}

.not-found-right {
  margin-left: 50px;
}

.not-found-right h4 {
  line-height: 40px;
}
.card-body {
  background-color: rgb(231, 231, 231);
}

.link {
  text-decoration: underline;
}

.not-found-left h1 {
  font-size: 5rem;
  margin-right: 50px;
}

.form-card {
  transition: 0.5s ease;
  border-top: 6px solid var(--primary-blue);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-color: var(--primary-blue);
  position: relative;
  bottom: 0;
  right: 0;
  border-top: 7px solid var(--light-blue);
  color: #fff;
}

.copyright h6 {
  position: relative;
  bottom: 7px;
  font-weight: 200;
}

.footer-links {
  font-weight: 200;
  padding: 20px;
}

.footer-links h5 {
  font-size: 1rem;
}

.main-banner {
  width: 100%;
  height: 800px;
  /* background-image: url("../images/a350_depart.jpg");
  background-attachment: fixed;
  background-size: cover !important;*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 3px 6px rgb(5, 71, 97);
  text-align: center;
}

.main-banner h1 {
  font-size: 6rem;
}

.staff-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.staff-card {
  border-radius: 1px 1px 10px 10px;
  border-top: 7px solid var(--primary-blue);
  box-shadow: 0px 10px 20px grey;
  margin: 15px;
  transition: 0.1s ease-in;
}

.staff-card:hover {
  transition: 0.1s ease-out !important;
  margin: 10px;
}
.map-load {
  height: 800px;
  width: 100%;
  background-color: var(--primary-blue);
  z-index: 120;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.loading {
  position: absolute;
  font-size: 2rem;
  color: white;
}

iframe {
  display: none;
  border-radius: 5px;
}

.contact-form-container {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  bottom: 150px; */
}

.contact-form-header {
  margin: 25px 30px;
}

.contact-form-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../images/A350_Takeoff.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.apply-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../images/A350_final.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply-container {
  max-width: 1000px;
}

.fleet-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-column: 20px;
  justify-content: space-around;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: var(--primary-blue);
}

#pilot-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ow-grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: space-around;
}

.ow-grid > .card {
  width: 100% !important;
}

.staff-member-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff-member-bio {
  max-width: 600px;
}

.staff-member-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pfp {
  border-radius: 50%;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  color: var(--light-blue) !important;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.stats > div {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ceo-msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;
  background-image: url("../images/a321-depart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  width: 100%;
  z-index: -10;
}

.ceo-msg-container p {
  font-size: 1.25rem;
  line-height: 33px;
}

.ceo-msg-container > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sign {
  stroke-dasharray: 1364.4361572265625;
  stroke-dashoffset: 1364.4361572265625;
  animation: sign 6s ease;
  animation-fill-mode: forwards;
}

#scroll-up-btn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  line-height: 48px;
  width: 48px;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  nav ul {
    width: 60% !important;
  }
}

@media screen and (max-width: 1000px) {
  .apply-wrapper {
    background-image: none;
  }

  .apply-container .card {
    box-shadow: 0px 10px 20px grey;
  }

  .staff-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fleet-grid {
    grid-template-columns: 1fr;
  }

  .footer-container {
    flex-direction: column;
    height: 40vh;
  }

  .main-banner {
    background-position: center;
  }
}

@media screen and (max-width: 800px) {
  .stats {
    grid-template-columns: repeat(auto-fit, 200px);
  }

  .ceo-msg-container > .container > p {
    font-size: 1rem;
    padding: 0 15px;
  }

  .ceo-msg-container {
    background-position: center;
  }

  .contact-form-wrapper {
    background-position: center;
  }
}

@media screen and (max-width: 550px) {
  .ow-grid {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-group-item {
    padding: 0.5rem 0.4rem !important;
    font-size: 0.85rem;
  }
  .card-subtitle > h6 {
    font-size: 0.8rem;
  }

  .card {
    margin: 10px 0px !important;
  }

  .not-found {
    display: block;
    width: 80%;
  }

  .not-found-left {
    border-right: none;
    border-bottom: 3px solid black;
  }

  .not-found-right {
    margin: 30px 0px 0px 0px;
  }

  .not-found-right h4 {
    font-size: 1.2rem;
  }

  .footer-main-content p {
    font-size: 0.9rem;
    margin: 0px 10px;
  }
}

@media screen and (max-width: 400px) {
  .not-found-left h1 {
    font-size: 3.6rem;
  }
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}
